@font-face {
  font-family: "iconfont"; /* Project id 5087646 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1767372590071') format('woff2'),
       url('iconfont.woff?t=1767372590071') format('woff'),
       url('iconfont.ttf?t=1767372590071') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e7af";
}

.icon-left:before {
  content: "\e7b0";
}

.icon-up:before {
  content: "\e7b1";
}

.icon-down:before {
  content: "\e7b3";
}

.icon-english:before {
  content: "\ec6a";
}

.icon-chinese:before {
  content: "\ec6b";
}

.icon-github:before {
  content: "\e8ef";
}

.icon-language:before {
  content: "\e6b4";
}

